/* Estilos gerais */
.training-journey {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.0);
}

.title {
  margin-top: 80px;
  font-size: 2.5rem;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.journey-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  color: #fff;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.character {
  animation: float 2s ease-in-out infinite;
}

.stage {
  text-align: center;
  margin: 20px;
}

.stage-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.header {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100vw;
  padding: 22px;
  display: flex;
  align-items: center;
}

.menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 15px;
  font-size: 34px; 
  cursor: pointer; 
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: var(--bluesky);
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Reduz o tamanho da fonte em tablets e dispositivos menores */
    margin-top: 60px;
    text-align: center;
  }

  .journey-container {
    flex-direction: column; /* Alinha os itens verticalmente em telas menores */
    align-items: center;
  }

  .stage-icon {
    width: 80px; /* Reduz o tamanho dos ícones em telas menores */
    height: 80px;
  }

  .stage {
    margin: 10px; /* Reduz a margem entre os estágios */
  }

  .header {
    padding: 15px; /* Reduz o padding da barra superior em dispositivos menores */
  }

  .menu-icon {
    font-size: 28px; /* Diminui o tamanho do ícone do menu */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem; /* Reduz ainda mais o tamanho da fonte em smartphones */
    margin-top: 40px;
    text-align: center;
  }

  .stage-icon {
    width: 70px; /* Reduz o tamanho dos ícones para smartphones */
    height: 70px;
  }

  .header {
    padding: 10px; /* Menor padding na barra superior para smartphones */
  }

  .menu-icon {
    font-size: 24px; /* Reduz o tamanho do ícone do menu para smartphones */
  }

  .dropdown-menu button {
    font-size: 14px; /* Reduz o tamanho da fonte dos botões do menu */
    padding: 8px 15px;
  }
}
