@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.IA-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: flex-start;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.0);
  overflow: auto;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100vw;
  padding: 22px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* Fonte aplicada aqui */
}

.menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 15px;
  font-size: 34px; 
  cursor: pointer; 
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Fonte aplicada aqui */
}

.dropdown-menu button:hover {
  background-color: var(--bluesky);
}

.ia-image {
  border-radius: 100%;
  margin-top: 3vw; 
  max-width: 30%; 
  height: 20%; 
  box-shadow: 0px 0px 30px 0px var(--bluesky);
}

.chat-box {
  margin-top: 2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 70%;
  height: 50%;
  border-radius: 50px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px; 
  overflow-y: auto; /* Adiciona rolagem vertical */
  font-family: 'Roboto', sans-serif; /* Fonte aplicada aqui */
}

.text-bar {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid var(--bluesky);
  border-radius: 25px;
  color: #fff;
  box-shadow: 0px 0px 15px 0px var(--bluesky);
  margin: auto;
}

.chats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  height: 100%;
  overflow-y: auto; /* Adiciona rolagem vertical */
}

/* Estilo dos balões de fala do usuário */
.user-chat {
  align-self: flex-end;
  background-color: rgba(54, 120, 201, 0.9); /* Azul para o usuário */
  color: white; /* Texto branco */
  padding: 10px 15px; /* Diminuindo o padding */
  border-radius: 20px;
  max-width: 80%; /* Ajusta o tamanho máximo do balão */
  margin: 10px 0;
  box-shadow: 0px 0px 15px 0px var(--bluesky);
  text-align: left;
  margin-right: 20px;
  position: relative;
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-wrap: break-word; /* Quebra palavras longas em navegadores mais antigos */
  font-family: 'Roboto', sans-serif; /* Fonte aplicada aqui */
}

/* Adiciona uma seta no balão do usuário */
.user-chat::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px; /* Ajuste a seta na borda direita */
  border-width: 10px;
  border-style: solid;
  border-color: rgba(54, 120, 201, 0.9) transparent transparent transparent;
}

/* Estilo dos balões de fala da IA */
.IaChat {
  align-self: flex-start;
  background-color: rgba(40, 44, 52, 0.9); /* Cinza escuro para a IA */
  color: white; /* Texto branco */
  padding: 10px 15px; /* Diminuindo o padding */
  border-radius: 20px;
  max-width: 80%; /* Ajusta o tamanho máximo do balão */
  margin: 10px 0;
  box-shadow: 0px 0px 15px 0px var(--bluesky);
  text-align: left;
  margin-left: 20px;
  position: relative;
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-wrap: break-word; /* Quebra palavras longas em navegadores mais antigos */
  font-family: 'Roboto', sans-serif; /* Fonte aplicada aqui */
}

/* Adiciona uma seta no balão da IA */
.IaChat::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* */
  border-width: 10px;
  border-style: solid;
  border-color: rgba(40, 44, 52, 0.9) transparent transparent transparent;
}

.loading {
  align-self: center;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Estilos responsivos para telas maiores */
@media (min-width: 769px) {
  .chat-box {
    width: 70%;
    height: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 30px 0px var(--bluesky);
    overflow-y: auto;
  }
}

/* Estilos para telas pequenas, como celulares */
@media (max-width: 768px) {
  .chat-box {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    box-shadow: none;
  }

  .chats {
    width: 100%;
    padding: 0 10px;
  }

  .text-bar {
    width: 95%;
    margin-bottom: 10px;
  }

  .user-chat, .IaChat {
    max-width: 100%;
  }
}
