/* Estilos gerais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 200px; /* Ajustado para dispositivos móveis */
  height: auto;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  overflow: hidden; /* Impede o conteúdo de ultrapassar os limites da tela */
}

.login-container {
  width: 100%;
  max-width: 400px; /* Limita o tamanho máximo */
  padding: 30px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 42px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container h1 {
  color: var(--white);
  font-size: 35px;
  margin-bottom: 15px;
}

.error {
  color: red;
  height: 35px;
  margin: 10px 0;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.password-group {
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px; /* Aumentado o padding para facilitar o toque em dispositivos móveis */
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--bluesky);
  color: var(--white);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-container {
    width: 90%; /* Ajusta a largura para quase toda a tela */
    padding: 20px;
  }

  .login-container h1 {
    font-size: 28px;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 15px;
  }

  .login-container h1 {
    font-size: 24px;
  }

  .logo {
    width: 120px;
  }

  .eye-icon {
    width: 20px;
    height: 20px;
  }

  button {
    padding: 8px;
  }
}
